<div>
    <NewTodoItemComponent OnNewItem="OnNewTodoTask"/>
    @foreach (var task in Tasks)
    {
        <div>
            <input type="checkbox" @onchange="(() => OnCheckboxCheck(task))"> @task
        </div>
    }
</div>